# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead, which is automatically detected by docker-compose.
NEXT_PUBLIC_PROJECT_NAME="nextjs_boilerplate"
NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_CORS_COOKIE=localhost

# server env
CORS_ORIGIN=*.localhost:3000,localhost:3000
CORS_RESOURCE=example.com
ANALYZE=true